<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>liste des discussion</title>
</head>
<body>
  <nav class="navbar navbar-primary bg-light">
    <a class="navbar-brand" href="/">FORUM GUEMARA - LISTE DES DISCUSSIONS </a>
    <a class="navbar-brand" href="/signup">signup</a>
    <a class="navbar-brand" href="/logout/">logout - connecte : {{session.username}}</a>
  </nav>
  

  <ul>
    <div>{% for discussion in discussions %}</div>    
    <li>      
      <div class="card">{{ discussion.titre }}</div>
      <a class="btn btn-primary" href="/home/{{discussion.id}}">Messages</a>
      <div>{% endfor %}</div>      
    </li>
  </ul>
	
</body>
</html>