<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
</head>

<body>
	<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">forum - guemara</a>
    <a class="navbar-brand" href="/signup">signup</a>
    <a class="navbar-brand" href="/logout">logout</a>
  </nav>

  
  {% with error_messages = get_flashed_messages() %}
    {% if error_messages %}
      <ul>
      {% for error_message in error_messages %}
        <li>{{ error_message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

	<form method="POST" action="/login/" class="lg-4">
		<div class="card-body">
    	<div class="form-group">
    		

      		<label>Username</label>
      		<input type="text" name="username">

      		<label>Password</label>
      		<input type="password" name="password">
      		<input type=submit class="btn btn-primary" value="login">
      	</div>
      </div>
  </form>

</body>
</html>