<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">FORUM - GUEMARA</a>
    <a class="navbar-brand" href="/login/">login</a>
  </nav>
  <h5>Creer un compte</h5>

	<form method="POST" action="/signup">
    <label>Username</label>
    <input type="text"  name="username">
    <label>Password</label>
    <input type="password" name="password">
    <button type="submit">Inscription</button>  
  </form>

</body>
</html>